<div class=row>
    <div class="col-sm-12">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">SKU</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Amount</th>
      <th scope="col">Parametres</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products;">
      <th scope="row">{{product.id}}</th>
      <td>{{product.sku}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.amount}}</td>
      <td>encore</td>
    </tr>
  </tbody>
</table>

    </div>

</div>